<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/javascript/main.js" defer></script>
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur le blog du développement web avec Python</h1>
    <ul style="{list-decoration: none}">
        <li>article-1</li>
        <li>article-2</li>
        <li>article-3</li>
        <li>article-4</li>
        <li>article-5</li>
    </ul>
</body>
</html>